@import "compass/css3/inline-block";
@import "compass/css3/box-sizing";
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "partials/_animate.sass";

$imagesDir: "../images/";

ul,li{
    margin:0px;
    padding: 0px;
    list-style: none;
}
h1,h2,h3,h4,p,dl,dt,dd{
    margin:0px;
    padding:0px;
}
body {
    margin:0px;
    padding:0px;
    font-family:"微软雅黑","宋体",Arial, Helvetica, sans-serif;
    font-size:12px;
}
.cl{
    clear:both;
}
.left{
    display:inline;
    float:left;
}
.right{
    display:inline;
    float:right;
}
